.steam-theme {
  background-color: #1b2838;
  color: #c6d4df;
  padding: 20px;
  border-radius: 10px;
}

.steam-table {
  background-color: #2a475e;
  color: #c6d4df;
}

.list-header {
  color: #66c0f4;
  font-size: 24px;
  border-bottom: 2px solid #66c0f4;
  margin-bottom: 20px;
}

.action-link {
  color: #66c0f4;
  margin-right: 10px;
}

.delete-btn {
  color: #d9534f;
  cursor: pointer;
}

.delete-btn:hover {
  color: #ff6666;
}

.search-bar {
  margin-bottom: 20px;
}

.search-input {
  background-color: #1b2838;
  color: #c6d4df;
  border: 1px solid #66c0f4;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.search-input::placeholder {
  color: white; 
  opacity: 1;
}
