/* Steam 테마 적용 */
.steam-theme {
    background-color: #1b2838;
    color: #c6d4df;
    padding: 20px;
    border-radius: 10px;
  }
  
  .user-form, .user-details {
    margin: 20px auto;
    max-width: 600px;
    background-color: #2a475e;
    padding: 20px;
    border-radius: 5px;
  }
  
  .heading {
    color: #66c0f4;
    font-size: 24px;
    border-bottom: 2px solid #66c0f4;
    margin-bottom: 20px;
  }
  
  .user-info p, .form-label {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #1b2838;
    color: #c6d4df;
    border: 1px solid #66c0f4;
  }
  
  .submit-btn {
    background-color: #5c7e10;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #6c9018;
  }
  