.fullScreenBg {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
}

.fullScreenVideo {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .fullScreenVideo {
    height: auto;
  }
}
